/* Import */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=EB+Garamond:wght@400;500&family=Fredoka+One&family=Montserrat:wght@100;200&family=Noto+Serif+Display:wght@100;300;500&family=Raleway:wght@100;300&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Kurenaido&display=swap');
/* Variables */

:root {
    --back-color: #E6E1E7;
    --primary-color: #50330C;
    --accent-color: #68BA84;
    --primone-color: #eae4e9;
    --accone-color: #6e6a6e;
    --primtwo-color: #fff1e6;
    --acctwo-color: #7e756e;
    --primthree-color: #fde2e4;
    --accthree-color: #7e6d6e;
    --primfour-color: #fad2e1;
    --accfour-color: #7e6770;
    --primfive-color: #e2ece9;
    --accfive-color: #71807b;
    --primsix-color: #bee1e6;
    --accsix-color: #667072;
    --primseven-color: #cddafd;
    --accseven-color: #585f74;
    --offwhite-color: #F8F8F8;
    --otherwhite-color: #f0efeb;
    --white-color: #FFFFFF;
    --text-color: rgb(59, 59, 59);
    --edge-color: #26252A;
    --codebg-color: #d9e8ec;
    --codeFont-color: #004555;
    --codeEdge-color: #3D7687;
    --font-main: 'Raleway', sans-serif;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}

/* Global */

html, body {
    min-width: auto;
    background-color: var(--offwhite-color);
    color: var(--text-color);
    font-family: var(--font-main);
}

h2 {
    font-size: 1.25rem;
}

h3 {}

p {
    font-size: .9rem;
}

.code {
    background-color: var(--codebg-color);
    color: var(--codeFont-color);
    border: 1px solid var(--codeEdge-color);
    padding: 2px 10px 2px 10px;
    font-size: .9rem;
    border-radius: 3px;
    width: auto;
    overflow: auto;
    height: auto;
    align-items: flex-start;
}

#docuhead {
    height: 3rem;
    align-items: center;
    justify-content: center;
    padding: 0px 5px 0px 15px;
    font-size: 1.25rem;
}

/* Navigation */

#navbar {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: var(--otherwhite-color);
}

#navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    display: block;
}

#navbar a:hover:active {
    color: var(--accseven-color);
    background-color: var(--primseven-color);
}

#navbar a:active {
    color: blue;
    text-decoration: underline;
}

#main-doc {
    margin-left: 250px;
}

.NavLS {
    background-color: var(--primone-color);
    color: var(--accone-color);
}

.NavLN {
    background-color: var(--primtwo-color);
    color: var(--acctwo-color);
}
.NavMV {
    background-color: var(--primthree-color);
    color: var(--accthree-color);
}
.NavMKDIR {
    background-color: var(--primfour-color);
    color: var(--accfour-color);
}
.NavRM {
    background-color: var(--primfive-color);
    color: var(--accfive-color);
}
.NavRMDIR {
    background-color: var(--primsix-color);
    color: var(--accsix-color);
}
/* #navbar #File_Management a {
    background-color: var(--primone-color);
} */

.hdrm {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 100%;
    top: 0;
    left: 0;
    height: 12rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    width: 100%;
}

.tophd {
    height: 3rem;
    width: auto;
    background-color: var(--otherwhite-color);
    color: var(--accseven-color);
    align-items: center;
    justify-content: center;
}

.lshd {
    padding: 6px 8px 6px 16px;
    height: 1.5rem;
    width: auto;
    background-color: var(--primone-color);
    color: var(--accone-color);
}

.lnhd {
    padding: 6px 8px 6px 16px;
    height: 1.5rem;
    width: auto;
    background-color: var(--primtwo-color);
    color: var(--acctwo-color);
}

.mvhd {
    padding: 6px 8px 6px 16px;
    height: 1.5rem;
    width: auto;
    background-color: var(--primthree-color);
    color: var(--accthree-color);
}

.mkdirhd {
    padding: 6px 8px 6px 16px;
    height: 1.5rem;
    width: auto;
    background-color: var(--primfour-color);
    color: var(--accfour-color);
}

.rmhd {
    padding: 6px 8px 6px 16px;
    height: 1.5rem;
    width: auto;
    background-color: var(--primfive-color);
    color: var(--accfive-color);
}

.rmdirhd {
    padding: 6px 8px 6px 16px;
    height: 1.5rem;
    width: auto;
    background-color: var(--primsix-color);
    color: var(--accsix-color);
}


.FM {
    background-color: var(--primone-color);
    color: var(--accone-color);
}

.FM a {
    background-color: var(--primone-color);
    color: var(--accone-color);
}

.highlighted {
    background-color: rgba(255, 255, 2, 0.342);
}

.topspace {
    margin-top: 90px;
    margin-left: 10px;
    font-size: 1rem;
}

.nactive:active {
    color: red;
}

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}