/* Import */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=EB+Garamond:wght@400;500&family=Fredoka+One&family=Montserrat:wght@100;200&family=Noto+Serif+Display:wght@100;300;500&family=Raleway:wght@100;300&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Kurenaido&display=swap');
/* Variables */

:root {
    --primary-color: #50330C;
    --accent-color: #68BA84;
    --offwhite-color: #F8F8F8;
    --white-color: #FFFFFF;
    --text-color: #939393;
    --font-main: 'Poppins', sans-serif;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}

/* Global */

* {
    font-family: "Cinzel";
}

/* Button */

.btn {
    display: block;
    padding: 25px 40px;
    text-align: center;
    min-width: 140px;
    font-size: 14px;
    line-height: 30px;
    font-weight: var(--font-weight-medium);
    color: var(--white-color);
    background: var(--accent-color);
    transition: 0.4s all ease-in-out;
}

@media (hover: hover) {
    .btn:hover {
        background: var(--primary-color);
    }
}

.btn-wrap {
    display: flex;
    margin-top: 30px;
}

/* Typography */

body {
    font-family: var(--font-main);
}

h1 {
    font-size: 43px;
    line-height: 51px;
    letter-spacing: 0;
    color: var(--primary-color);
    font-weight: var(--font-weight-semibold);
}

h2 {
    font-size: 33px;
    line-height: 45px;
    letter-spacing: 0;
    color: var(--primary-color);
    font-weight: var(--font-weight-semibold);
}

p {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0;
    color: var(--text-color);
    font-weight: var(--font-weight-light);
}

/* Responsive - Medium Tablet */

@media only screen and (max-width: 991px) {
    h1 {
        font-size: 32px;
        line-height: 42px;
    }
}

#header-img {
    max-width: 40%;
}